;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PlaneShift Configuration ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;

System.ApplicationID = NPCClient

;;;;;;;;;;;
; Plugins ;
;;;;;;;;;;;

; Core plugins
System.Plugins.iVFS = crystalspace.kernel.vfs
System.Plugins.iEngine = crystalspace.engine.3d
System.Plugins.iGraphics3D = crystalspace.graphics3d.null

; Important plugins
System.Plugins.iImageIO = crystalspace.graphic.image.io.multiplexer
System.Plugins.iLoader = crystalspace.level.loader

; Document parser
System.Plugins.iDocumentSystem = crystalspace.documentsystem.multiplexer
System.Plugins.iDocumentSystem.1 = crystalspace.documentsystem.tinyxml
System.Plugins.iDocumentSystem.2 = crystalspace.documentsystem.binary

; Shader Manager
System.Plugins.iShaderManager = crystalspace.graphics3d.shadermanager

; Additional plugins
;System.Plugins.iPerfstat = crystalspace.utilities.perfstat
System.Plugins.iCollideSystem = crystalspace.collisiondetection.opcode
System.Plugins.iFontServer = crystalspace.font.server.default
System.Plugins.iBgLoader = crystalspace.bgloader

; PlaneShift plugins
System.Plugins.iConnection = planeshift.database.mysql
;System.Plugins.iConnection = planeshift.database.dummy

;;;;;;;;;;;;;;;;;
; Configuration ;
;;;;;;;;;;;;;;;;;

VFS.Config = vfs.cfg
Video.Null.Canvas=crystalspace.graphics2d.null
System.Win32.DebugConsole = yes

Planeshift.NPCClient.Status.Report = 1
Planeshift.NPCClient.Status.Rate = 1000
Planeshift.NPCClient.Status.LogFile = /this/report_npc.xml

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PlaneShift-Specific Items ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; PlaneShift plugins
System.Plugins.iDataConnection = planeshift.database.mysql

Planeshift.NPCClient.host = localhost
Planeshift.NPCClient.userid = superclient
Planeshift.NPCClient.password = superclient
Planeshift.NPCClient.port = 13331

Planeshift.Database.npchost = localhost
Planeshift.Database.npcuserid = planeshift
Planeshift.Database.npcpassword = planeshift
Planeshift.Database.npcname = planeshift

ThreadManager.AlwaysRunNow = true
